:root {
  --text-wite: #ffffff;
  --text-wite-sec: #e5e5e5;
  --text-grey: #999999;
  --bg-color: #141619;
  --bg-color-red: #ff0000;
  --color-darck: #000000;
  --color-hover: rgba(255, 255, 255, 0.3);
}
ul,
li {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Martel Sans", sans-serif;
  color: var(--text-wite);
  background-color: var(--color-darck);
  scroll-behavior: smooth;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bg_size {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.red {
  color: var(--bg-color-red);
}
.none {
  opacity: 0;
  display: none;
}
.top {
  scroll-behavior: smooth;
}
.header {
  position: relative;
  margin-bottom: 40px;
}
.header__img-all {
  position: absolute;
  width: 100vw;
  min-width: 100vw;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.header__img {
  width: 100vw;
  min-width: 100vw;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}
.mobile-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 30px;
  height: 3px;
  background-color: var(--text-wite);
}
.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background-color: var(--text-wite);
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon::after {
  left: 0;
  top: -10px;
}
.mobile-nav-button__icon::before {
  left: 0;
  top: 10px;
}
.mobile-nav-button__icon.active {
  background-color: transparent;
}
.mobile-nav-button__icon.active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon.active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
.show {
  display: block;
}
.fade {
  animation-name: fade;
  animation-duration: 2.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__menu {
  padding: 20px 10%;
  position: fixed;
  left: 0px;
  right: 0;
  width: 100%;
  z-index: 1000;
}
.header__menu_btns {
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  right: 10%;
  top: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: 2px solid var(--text-wite);
  opacity: 1;
  transition: opacity 1s;
}
.header__place {
  width: 100%;
  height: 1px;
  margin-bottom: 70vh;
}
.header__content_nav {
  position: relative;
  margin: 0 auto 60px;
  max-width: 990px;
}
.header__content_nav ::after {
  position: absolute;
  content: "";
  background: var(--text-wite);
  height: 2px;
  width: 100%;
  bottom: -30px;
  left: 0;
}
.header__content_logoname {
  height: 100%;
  width: 100%;
}
.header__content_pagination {
  gap: 20px;
}
.item__dot {
  width: 5px;
  height: 5px;
  background-color: var(--text-wite);
  cursor: pointer;
  border-radius: 50%;
}
.item__dot_hover {
  width: 15px;
  height: 15px;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 31%,
    rgba(0, 0, 0, 0) 31%
  );
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ff0000;
}
.header__content_title {
  text-align: center;
  font-weight: 400;
  font-size: 96px;
  line-height: 115px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header__content_btns {
  justify-content: center;
  gap: 30px;
}
.header__content_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 253px;
  height: 36px;
  background: var(--bg-color-red);
}
.header__content_btn:hover {
  background: var(--color-darck);
  border: 1px solid var(--text-wite);
}
.header__content_btn2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 133px;
  height: 36px;
  border: 1px solid var(--text-wite);
  transition: background-color 0.3s;
}
.header__content_btn2:hover {
  background-color: var(--bg-color-red);
}
@media (max-width: 1181px) {
  .header__content_title {
    font-size: 66px;
  }
  .header__img {
    height: auto;
  }
}
@media (max-width: 470px) {
  .header__content_title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .header__content_btns {
    flex-direction: column;
    gap: 20px;
  }
  .header__img {
    top: 30px;
  }
  .header__content_nav {
    flex-direction: column;
  }
}
.magazine {
  background-color: var(--color-darck);
  padding-top: 40px;
}
.magazine__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px 0;
  margin-bottom: 80px;
}
.magazine__item:hover {
  color: var(--bg-color-red);
}
.magazine__item_dot {
  background-color: var(--bg-color-red);
}
.magazine__menu {
  padding: 0 20px;
  margin-bottom: 30px;
}
.magazine_menu_nav {
  gap: 20px;
}
.magazine_menu_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.magazine_menu_item:hover {
  color: var(--text-wite);
  border: 1px solid var(--text-wite);
}
.magazine_slider_nav {
  flex-wrap: wrap;
  gap: 10px;
}
.magazine_slider_item {
  width: 349.5px;
  height: 477px;
  background: rgba(255, 255, 255, 0.1);
}
.magazine_slider_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.magazine_slider_pasion {
  margin: 40px 50px 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 5px;
}
.body_redline {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 5px;
}
.title {
  white-space: nowrap;
}
.redline {
  border: 0.5px solid var(--bg-color-red);
  height: 1px;
  width: 100vh;
}
.titlespan {
  white-space: nowrap;
}
.magazine_slider_text {
  margin: 0 50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.magazine__footer {
  margin-top: 30px;
  padding-bottom: 90px;
}
.magazine__footer_news {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.magazine__footer_pagination {
  gap: 20px;
}
.magazine__footer_arrow {
  transform: rotate(180deg);
}
@media (max-width: 1181px) {
  .magazine__slider4 {
    display: none;
  }
}
@media (max-width: 770px) {
  .magazine__slider3 {
    display: none;
  }
  .magazine__menu {
    flex-direction: column;
  }
  .magazine_menu_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
  }
}
@media (max-width: 470px) {
  .magazine_slider_nav {
    flex-direction: column;
  }
  .magazine__slider2 {
    display: none;
  }
  .magazine__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px 0;
    margin-bottom: 80px;
  }
}

.suit {
  position: relative;
}
.suit__img_bg {
  position: absolute;
  width: 100vw;
  min-width: 100vw;
  z-index: -10;
}
.suit__logo {
  margin: 90px 0 140px;
}
.suit__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.suit__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 20px 0;
}
.suit__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  width: 194px;
  height: 39px;
  background: var(--bg-color-red);
  margin-bottom: 140px;
}
.suit__btn:hover{
  border: 1px solid var(--text-wite);
 
}
.suit__slaider {
  margin-bottom: 80px;
  gap: 10px;
}
.suit__slaider_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.suit__slaider_fashion {
  background-image: url(../img/suit/suit_slaider1.jpg);
  width: 604px;
  height: 282px;
}
.suit__slaider_fashion-discriptoin {
  margin-top: 167px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.suit__slaider_fashion-discriptoin h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 20px 0;
}
.suit__slaider_fashion-discriptoin p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-red);
}
.suit__slaider_watcher {
  width: 282px;
  height: 282px;
  background-image: url(../img/suit/suit_slaider2.jpg);
}
.suit__slaider_watcher h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px;
}
.suit__slaider_redline {
  margin: 20px 20px;
}
.suit__slaider_eyewear {
  width: 282px;
  height: 282px;
  background-image: url(../img/suit/suit_slaider3.jpg);
}
.suit__slaider_eyewear h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px;
}
.suit__slaider_explore h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
  order: 1;
  align-self: stretch;
}
.suit__slaider_body {
  gap: 10px;
  justify-content: flex-start;
}
@media (max-width: 1600px) {
  .suit__logo {
    margin: 45px 0 70px;
  }

  .suit__btn {
    margin-bottom: 70px;
  }
}
@media (max-width: 1360px) {
  .suit__slaider_eyewear {
    width: 200px;
    height: 200px;
    background-image: url(../img/suit/suit_slaider3.jpg);
  }

  .suit__slaider_watcher {
    width: 200px;
    height: 200px;
    background-image: url(../img/suit/suit_slaider2.jpg);
  }

  .suit__slaider_fashion {
    background-image: url(../img/suit/suit_slaider1.jpg);
    width: 400px;
    height: 200px;
  }

  .suit__slaider_fashion-discriptoin {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1181px) {
  .suit__slaider_eyewear {
    width: 400px;
    height: 400px;
    background-image: url(../img/suit/suit_slaider3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .suit__slaider_watcher {
    width: 400px;
    height: 400px;
    background-image: url(../img/suit/suit_slaider2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .suit__slaider_fashion {
    background-image: url(../img/suit/suit_slaider1.jpg);
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .suit__slaider_fashion-discriptoin {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
 
  .suit__slaider {
    gap: 20px;
  }
  .suit__logo {
    margin: 120px 0 70px;
  }

  .suit__btn {
    margin-bottom: 180px;
  }
}
@media (max-width: 950px) {
 
  .suit__slaider {
    flex-direction: column;
  }
  .suit__slaider_body {
    flex-direction: column;
  }
  .suit__slaider_btnarrow {
    rotate: 90deg;
  }
  .suit__slaider_explore {
    text-align: center;
  }
}
@media (max-width: 770px) {
  .suit__logo {
    margin: 20px 0 20px;
  }

  .suit__btn {
    margin-bottom: 70px;
  }
}
@media (max-width: 520px) {
  .suit__logo {
    margin: 20px 0 20px;
  }

  .suit__btn {
    margin-bottom: 70px;
  }
}
@media (max-width: 400px) {
  .suit__slaider_eyewear {
    width: 300px;
    height: 300px;
  }
  .suit__slaider_watcher {
    width: 300px;
    height: 300px;
  }

  .suit__slaider_fashion {
    width: 300px;
    height: 300px;
  }
}

.video {
  background-color: var(--color-darck);
  padding: 80px 0;
}
.video__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.video__item {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.hover_text {
  opacity: 0.5;
}
.item__dot_red {
  width: 5px;
  height: 5px;
  background-color: var(--bg-color-red);
  cursor: pointer;
  border-radius: 50%;
}
.video__place {
  position: relative;
  margin: 15px 0;
  border: 2px solid var(--bg-color-red);
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.video__object{
  max-width: 100%;
  height: auto;
}
.video_btn {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 35px 10px 15px;
  width: 262px;
  height: 70px;
  background: var(--bg-color-red);
  border-radius: 50px;
  gap: 10px;
  border: 1px solid var(--text-wite);
  cursor: pointer;
  color: var(--text-wite);
  opacity: 1;
  transition: opacity 2s;
}
.hiden{
  opacity: 0;
}

.video_btn:hover {
  background: var(--color-darck);
  border: 1px solid var(--text-wite);
}

.video__slaider {
  gap: 10px;
}
.video__slaider_item {
  width: 432.67px;
  height: 500px;
}
.video__slaider_border {
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-darck);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.video__slaider_812gts {
  background-image: url(../img/video/video_812.jpg);
}
.video__slaider_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 58px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 20px;
}
.video__slaider_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 253px;
  height: 36px;
  background: var(--bg-color-red);
  margin: 10px 0 20px 20px;
}
.video__slaider_296gts {
  background-image: url(../img/video/video_296gts.jpg);
}
.video__slaider_SF90Stradale {
  background-image: url(../img/video/video_sf90stradale.jpg);
}
.video__slaider_pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 20px;
  transform: rotate(90deg);
}
.video_footer {
  text-align: center;
  margin-top: 20px;
}
@media (max-width: 1000px) {
  .video__slaider_SF90Stradale {
    display: none;
  }
}
@media (max-width: 1000px) {
  .video__slaider_SF90Stradale {
    display: block;
  }
  .video__slaider {
    flex-direction: column;
  }
  .video__slaider_pagination {
    transform: rotate(0deg);
  }
  .video__slaider_item {
    width: 350px;
    height: 500px;
  }
}
.discover {
  background-color: var(--color-darck);
}
.discover_separator {
  height: 2px;
  width: 100%;
  background-color: var(--color-hover);
  margin-bottom: 80px;
}
.discover_gallery_item {
  width: 349.5px;
  height: 277px;
}
.discover_gallery_bg {
  width: 349.5px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.Pre-owned {
  display: flex;
  flex-direction: column;
  width: 349.5px;
  height: 477px;
}
.discover_gallery_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-color-red);
  margin-left: 40px;
}
.discover_gallery_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-left: 40px;
}
.discover_gallery_link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.pastmodels {
  width: 349.5px;
  height: 477px;
  display: flex;
  flex-direction: column;
}
.finali {
  width: 709px;
  height: 477px;
  background-image: url(../img/discover/discover_dg3.jpg);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.discover_gallery_finalibg {
  background: rgba(0, 0, 0, 0.5);
  width: 349.5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
}
.discover_gallery_linkred {
  margin: 40px;
  color: var(--bg-color-red);
}

@media (max-width: 1181px) {
  .discover_gallery {
    flex-wrap: wrap;
    height: 100%;
    align-content: space-between;
    justify-content: center;
    gap: 10px;
  }
}
.subscrible {
  background-color: var(--color-darck);
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscrible__bg {
  background-color: #222222;
  height: 120px;
  margin: 80px 0;
  width: 100%;
}
.subscrible_body {
  margin: 41px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.subscrible_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.btn {
  background-color: #222222;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 10px;
  width: 147px;
  height: 39px;
  border: 1px solid #ffffff;
}
.footer {
  background-color: var(--color-darck);
}
.footer__body {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  align-content: space-between;
  justify-content: center;
  gap: 10px;
}
.footer__body_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 221px;
}
.footer__body_title {
  border-bottom: 2px solid var(--bg-color-red);
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
}
.footer__body_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.footer__social {
  flex-wrap: wrap;
  border-bottom: 2px solid var(--color-hover);
  border-top: 2px solid var(--color-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}
.footer_rights {
  text-align: center;
  padding: 40px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.5);
}
.footer_rights p {
  margin: 10px;
}
.down {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  flex-wrap: wrap;
  height: 100%;
  align-content: space-between;
  justify-content: center;
  gap: 10px;
}
.down_link {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.03em;
}
.down_link_country {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  gap: 10px;
  margin-left: 130px;
}

@media (max-width: 700px) {
  .subscrible_title {
    font-size: 18px;
    line-height: 100%;
  }
  .down_link_country {
    margin-left: 0;
  }
}
